# Ignore everything on root level
/*

# Ignore always
*csproj.user
*user.props
bin/
obj/

# Add source files
!/src/
!/tests/

# JetBrains Rider
*.sln.iml
.idea/

# Test Unity project
/tests/UnityTestProject/*
/tests/UnityTestProject/Assets/*
!/tests/UnityTestProject/Assets/
!/tests/UnityTestProject/Assets/TestProject/

# Config files
!/.config/
/.config/*
!/.config/dotnet-tools.json

!/.github/

# Add root level files
!/.csharpierignore
!/.editorconfig
!/.gitignore
!/Config.Build.user.props.template
!/CONTRIBUTING.md
!/Directory.Build.props
!/Directory.Build.targets
!/icon.png
!/LICENSE
!/ContentLib.sln
!/README.md
