
[data-bs-theme="dark"] .hljs {
/* Code blocks */
background: #25252b !important;
}

[data-bs-theme='dark'] body {
/* Main background */
--bs-body-bg: #1d1e24 !important;
/* Header background */
--bs-body-bg-rgb: 34, 34, 40 !important;
}